<h1>File path: (bookmarks) Show.html.erb</h1>
<h2>Bookmark detail</h2>
<br>

<p>
  <strong>Bookmark comment:</strong>
  <%= @bookmark.comment %>
</p>
<br>

<p>
  <strong>Bookmark movie id:</strong>
  <%= @bookmark.movie_id %>
</p>
<br>

<p>
  <strong>Bookmark list id:</strong>
  <%= @bookmark.list_id %>
</p>
<br>

<%= link_to 'Back', bookmarks_path %>
